<a href="https://colab.research.google.com/github/bonareri/Python-Data-Analysis/blob/main/Exercises_(20).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Investor - Flow of Funds - US

### Introduction:

Special thanks to: https://github.com/rgrp for sharing the dataset.

### Step 1. Import the necessary libraries

In [2]:
#importing the libraries
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

### Step 3. Assign it to a variable called

In [12]:
investor = pd.read_csv('https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv')
investor.head()

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
1,2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2,2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
3,2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
4,2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

### Step 4.  What is the frequency of the dataset?

In [10]:
investor['Date'] = pd.to_datetime(investor['Date'])

# Now set the 'Date' column as the index
investor.set_index('Date', inplace=True)

# Check the frequency of the index
frequency = investor.index.inferred_freq

# Display the frequency of the dataset
print(f"The frequency of the 'investor' dataset is: {frequency}")

The frequency of the 'investor' dataset is: None

### Step 5. Set the column Date as the index.

In [14]:
# Convert the 'Date' column to datetime format (if not already)
investor['Date'] = pd.to_datetime(investor['Date'], errors='coerce')

# Set the 'Date' column as the index
investor.set_index('Date', inplace=True)

# Display the first few rows to verify
print(investor.head())

            Total Equity  Domestic Equity  World Equity  Hybrid  Total Bond  \
Date
2012-12-05         -7426            -6060         -1367     -74        5317
2012-12-12         -8783            -7520         -1263     123        1818
2012-12-19         -5496            -5470           -26     -73         103
2012-12-26         -4451            -4076          -375     550        2610
2013-01-02        -11156            -9622         -1533    -158        2383

            Taxable Bond  Municipal Bond  Total
Date
2012-12-05          4210            1107  -2183
2012-12-12          1598             219  -6842
2012-12-19          3472           -3369  -5466
2012-12-26          3333            -722  -1291
2013-01-02          2103             280  -8931

### Step 6. What is the type of the index?

In [15]:
#type of index
investor.index.dtype

dtype('<M8[ns]')

### Step 7. Set the index to a DatetimeIndex type

In [17]:
# Explicitly set the index as a DatetimeIndex (if needed)
investor.index = pd.to_datetime(investor.index)

# Verify the index type
print(type(investor.index))  # Should show <class 'pandas.core.indexes.datetimes.DatetimeIndex'>

# Display the first few rows to verify
print(investor.head())

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
            Total Equity  Domestic Equity  World Equity  Hybrid  Total Bond  \
Date
2012-12-05         -7426            -6060         -1367     -74        5317
2012-12-12         -8783            -7520         -1263     123        1818
2012-12-19         -5496            -5470           -26     -73         103
2012-12-26         -4451            -4076          -375     550        2610
2013-01-02        -11156            -9622         -1533    -158        2383

            Taxable Bond  Municipal Bond  Total
Date
2012-12-05          4210            1107  -2183
2012-12-12          1598             219  -6842
2012-12-19          3472           -3369  -5466
2012-12-26          3333            -722  -1291
2013-01-02          2103             280  -8931

### Step 8.  Change the frequency to monthly, sum the values and assign it to monthly.

In [18]:
# Resample the data to monthly frequency and sum the values for each month
monthly = investor.resample('M').sum()

# Display the first few rows of the monthly resampled data
print(monthly.head())

            Total Equity  Domestic Equity  World Equity  Hybrid  Total Bond  \
Date
2012-12-31        -26156           -23126         -3031     526        9848
2013-01-31          3661            -1627          5288    2730       12149
2013-02-28             0                0             0       0           0
2013-03-31             0                0             0       0           0
2013-04-30             0                0             0       0           0

            Taxable Bond  Municipal Bond  Total
Date
2012-12-31         12613           -2765 -15782
2013-01-31          9414            2735  18540
2013-02-28             0               0      0
2013-03-31             0               0      0
2013-04-30             0               0      0

<ipython-input-18-554db876b54e>:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly = investor.resample('M').sum()

### Step 9. You will notice that it filled the dataFrame with months that don't have any data with NaN. Let's drop these rows.

In [19]:
# Drop rows with NaN values after resampling
monthly_cleaned = monthly.dropna()

# Display the first few rows of the cleaned DataFrame
print(monthly_cleaned.head())

            Total Equity  Domestic Equity  World Equity  Hybrid  Total Bond  \
Date
2012-12-31        -26156           -23126         -3031     526        9848
2013-01-31          3661            -1627          5288    2730       12149
2013-02-28             0                0             0       0           0
2013-03-31             0                0             0       0           0
2013-04-30             0                0             0       0           0

            Taxable Bond  Municipal Bond  Total
Date
2012-12-31         12613           -2765 -15782
2013-01-31          9414            2735  18540
2013-02-28             0               0      0
2013-03-31             0               0      0
2013-04-30             0               0      0

### Step 10. Good, now we have the monthly data. Now change the frequency to year.

In [20]:
# Resample the data to yearly frequency and sum the values for each year
yearly = monthly_cleaned.resample('Y').sum()

# Display the first few rows of the yearly resampled data
print(yearly.head())

            Total Equity  Domestic Equity  World Equity  Hybrid  Total Bond  \
Date
2012-12-31        -26156           -23126         -3031     526        9848
2013-12-31          3661            -1627          5288    2730       12149
2014-12-31           330           -44689         45021   19570       59890
2015-12-31         15049           -10459         25508    7280       26028

            Taxable Bond  Municipal Bond  Total
Date
2012-12-31         12613           -2765 -15782
2013-12-31          9414            2735  18540
2014-12-31         44994           14896  79787
2015-12-31         17986            8041  48357

<ipython-input-20-43df2caf6c72>:2: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  yearly = monthly_cleaned.resample('Y').sum()

### BONUS: Create your own question and answer it.

How can I calculate the cumulative sum of a column over time in a Pandas DataFrame?

In [21]:
# Assuming 'Total Equity' is the column we want the cumulative sum for
cumulative_sum = investor['Total Equity'].cumsum()

# Display the first few rows of the cumulative sum
print(cumulative_sum.head())

Date
2012-12-05    -7426
2012-12-12   -16209
2012-12-19   -21705
2012-12-26   -26156
2013-01-02   -37312
Name: Total Equity, dtype: int64