<a href="https://colab.research.google.com/github/bonareri/Python-Data-Analysis/blob/main/Exercises_(19).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import datetime as dt
import pandas_datareader.data as web

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [7]:
# Define start and end dates using datetime as dt
start_date = dt.datetime(2015, 1, 1)
end_date = dt.datetime.today()

# Display the start and end dates
start_date, end_date

(datetime.datetime(2015, 1, 1, 0, 0),
 datetime.datetime(2024, 11, 19, 14, 58, 1, 859555))

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [3]:
# Stock symbols for Apple, Tesla, Twitter, IBM, and LinkedIn
stocks = ['AAPL', 'TSLA', 'TWTR', 'IBM', 'MSFT']

# Display the stock symbols
stocks

['AAPL', 'TSLA', 'TWTR', 'IBM', 'MSFT']

### Step 4. Read the data from google, assign to df and print it

In [6]:
!pip install pandas_datareader

Requirement already satisfied: pandas_datareader in /usr/local/lib/python3.10/dist-packages (0.10.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from pandas_datareader) (5.3.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.10/dist-packages (from pandas_datareader) (2.2.2)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.10/dist-packages (from pandas_datareader) (2.32.3)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23->pandas_datareader) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23->pandas_datareader) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23->pandas_datareader) (2024.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pandas_datareader) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pandas_datareader) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pandas_datareader) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pandas_datareader) (2024.8.30)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas_datareader) (1.16.0)

In [11]:
import yfinance as yf

# Define stock symbols and time range
stocks = ['AAPL', 'TSLA', 'TWTR', 'IBM', 'MSFT']
start_date = dt.datetime(2015, 1, 1)
end_date = dt.datetime.today()

# Download the data using yfinance
df = yf.download(stocks, start=start_date, end=end_date)

# Display the data
print(df.head())

[*********************100%***********************]  5 of 5 completed
ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['TWTR']: YFTzMissingError('$%ticker%: possibly delisted; no timezone found')

Price                      Adj Close                                         \
Ticker                          AAPL         IBM       MSFT       TSLA TWTR
Date
2015-01-02 00:00:00+00:00  24.347174  100.658310  40.232849  14.620667  NaN
2015-01-05 00:00:00+00:00  23.661276   99.074478  39.862877  14.006000  NaN
2015-01-06 00:00:00+00:00  23.663502   96.937836  39.277821  14.085333  NaN
2015-01-07 00:00:00+00:00  23.995317   96.304291  39.776833  14.063333  NaN
2015-01-08 00:00:00+00:00  24.917271   98.397446  40.946980  14.041333  NaN

Price                          Close                                         \
Ticker                          AAPL         IBM       MSFT       TSLA TWTR
Date
2015-01-02 00:00:00+00:00  27.332500  154.933075  46.759998  14.620667  NaN
2015-01-05 00:00:00+00:00  26.562500  152.495224  46.330002  14.006000  NaN
2015-01-06 00:00:00+00:00  26.565001  149.206497  45.650002  14.085333  NaN
2015-01-07 00:00:00+00:00  26.937500  148.231354  46.230000  14.063333  NaN
2015-01-08 00:00:00+00:00  27.972500  151.453156  47.590000  14.041333  NaN

Price                      ...       Open                                    \
Ticker                     ...       AAPL         IBM       MSFT       TSLA
Date                       ...
2015-01-02 00:00:00+00:00  ...  27.847500  154.216064  46.660000  14.858000
2015-01-05 00:00:00+00:00  ...  27.072500  154.177826  46.369999  14.303333
2015-01-06 00:00:00+00:00  ...  26.635000  152.648178  46.380001  14.004000
2015-01-07 00:00:00+00:00  ...  26.799999  150.286804  45.980000  14.223333
2015-01-08 00:00:00+00:00  ...  27.307501  149.369019  46.750000  14.187333

Price                              Volume
Ticker                    TWTR       AAPL      IBM      MSFT      TSLA TWTR
Date
2015-01-02 00:00:00+00:00  NaN  212818400  5779673  27913900  71466000  NaN
2015-01-05 00:00:00+00:00  NaN  257142000  5104898  39673900  80527500  NaN
2015-01-06 00:00:00+00:00  NaN  263188400  6429448  36447900  93928500  NaN
2015-01-07 00:00:00+00:00  NaN  160423600  4918083  29114100  44526000  NaN
2015-01-08 00:00:00+00:00  NaN  237458000  4431693  29645200  51637500  NaN

[5 rows x 30 columns]

### Step 5.  What is the type of structure of df ?

In [12]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [13]:
print(df.axes)

[DatetimeIndex(['2015-01-02 00:00:00+00:00', '2015-01-05 00:00:00+00:00',
               '2015-01-06 00:00:00+00:00', '2015-01-07 00:00:00+00:00',
               '2015-01-08 00:00:00+00:00', '2015-01-09 00:00:00+00:00',
               '2015-01-12 00:00:00+00:00', '2015-01-13 00:00:00+00:00',
               '2015-01-14 00:00:00+00:00', '2015-01-15 00:00:00+00:00',
               ...
               '2024-11-06 00:00:00+00:00', '2024-11-07 00:00:00+00:00',
               '2024-11-08 00:00:00+00:00', '2024-11-11 00:00:00+00:00',
               '2024-11-12 00:00:00+00:00', '2024-11-13 00:00:00+00:00',
               '2024-11-14 00:00:00+00:00', '2024-11-15 00:00:00+00:00',
               '2024-11-18 00:00:00+00:00', '2024-11-19 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='Date', length=2488, freq=None), MultiIndex([('Adj Close', 'AAPL'),
            ('Adj Close',  'IBM'),
            ('Adj Close', 'MSFT'),
            ('Adj Close', 'TSLA'),
            ('Adj Close', 'TWTR'),
            (    'Close', 'AAPL'),
            (    'Close',  'IBM'),
            (    'Close', 'MSFT'),
            (    'Close', 'TSLA'),
            (    'Close', 'TWTR'),
            (     'High', 'AAPL'),
            (     'High',  'IBM'),
            (     'High', 'MSFT'),
            (     'High', 'TSLA'),
            (     'High', 'TWTR'),
            (      'Low', 'AAPL'),
            (      'Low',  'IBM'),
            (      'Low', 'MSFT'),
            (      'Low', 'TSLA'),
            (      'Low', 'TWTR'),
            (     'Open', 'AAPL'),
            (     'Open',  'IBM'),
            (     'Open', 'MSFT'),
            (     'Open', 'TSLA'),
            (     'Open', 'TWTR'),
            (   'Volume', 'AAPL'),
            (   'Volume',  'IBM'),
            (   'Volume', 'MSFT'),
            (   'Volume', 'TSLA'),
            (   'Volume', 'TWTR')],
           names=['Price', 'Ticker'])]

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [14]:
vol = df['Volume']
print(vol.head())

Ticker                          AAPL      IBM      MSFT      TSLA  TWTR
Date
2015-01-02 00:00:00+00:00  212818400  5779673  27913900  71466000   NaN
2015-01-05 00:00:00+00:00  257142000  5104898  39673900  80527500   NaN
2015-01-06 00:00:00+00:00  263188400  6429448  36447900  93928500   NaN
2015-01-07 00:00:00+00:00  160423600  4918083  29114100  44526000   NaN
2015-01-08 00:00:00+00:00  237458000  4431693  29645200  51637500   NaN

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [19]:

# Define stock symbols and time range
stocks = ['AAPL', 'TSLA', 'TWTR', 'IBM', 'MSFT']
start_date = dt.datetime(2015, 1, 1)
end_date = dt.datetime.today()

# Download the data using yfinance
df = yf.download(stocks, start=start_date, end=end_date)

# Check the structure of the downloaded data
print(df.head())
print(df.columns)

# Check the column levels (if multi-indexed)
if isinstance(df.columns, pd.MultiIndex):
    print("Multi-index columns:")
    print(df.columns.levels)

# Resample to weekly data and aggregate the 'Volume' column (sum of volume for each week)
if isinstance(df.columns, pd.MultiIndex):
    # Handling multi-index columns if applicable
    weekly_df = df.resample('W-MON').agg({
        ('Open', 'AAPL'): 'first',  # First price of the week for AAPL, adjust for other stocks similarly
        ('High', 'AAPL'): 'max',
        ('Low', 'AAPL'): 'min',
        ('Close', 'AAPL'): 'last',
        ('Adj Close', 'AAPL'): 'last',
        ('Volume', 'AAPL'): 'sum'
    })
else:
    weekly_df = df.resample('W-MON').agg({
        'Open': 'first',  # First price of the week
        'High': 'max',    # Maximum price of the week
        'Low': 'min',     # Minimum price of the week
        'Close': 'last',  # Last price of the week
        'Adj Close': 'last',  # Last adjusted close price of the week
        'Volume': 'sum'   # Sum of volume for the week
})

# Extract the Volume data into a new DataFrame called vol
vol = weekly_df[['Volume']]

# Display the first few rows of the vol DataFrame
print(vol.head())

[*********************100%***********************]  5 of 5 completed
ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['TWTR']: YFTzMissingError('$%ticker%: possibly delisted; no timezone found')

Price                      Adj Close                                         \
Ticker                          AAPL         IBM       MSFT       TSLA TWTR
Date
2015-01-02 00:00:00+00:00  24.347166  100.658333  40.232861  14.620667  NaN
2015-01-05 00:00:00+00:00  23.661274   99.074455  39.862885  14.006000  NaN
2015-01-06 00:00:00+00:00  23.663502   96.937798  39.277798  14.085333  NaN
2015-01-07 00:00:00+00:00  23.995317   96.304268  39.776833  14.063333  NaN
2015-01-08 00:00:00+00:00  24.917269   98.397461  40.946983  14.041333  NaN

Price                          Close                                         \
Ticker                          AAPL         IBM       MSFT       TSLA TWTR
Date
2015-01-02 00:00:00+00:00  27.332500  154.933075  46.759998  14.620667  NaN
2015-01-05 00:00:00+00:00  26.562500  152.495224  46.330002  14.006000  NaN
2015-01-06 00:00:00+00:00  26.565001  149.206497  45.650002  14.085333  NaN
2015-01-07 00:00:00+00:00  26.937500  148.231354  46.230000  14.063333  NaN
2015-01-08 00:00:00+00:00  27.972500  151.453156  47.590000  14.041333  NaN

Price                      ...       Open                                    \
Ticker                     ...       AAPL         IBM       MSFT       TSLA
Date                       ...
2015-01-02 00:00:00+00:00  ...  27.847500  154.216064  46.660000  14.858000
2015-01-05 00:00:00+00:00  ...  27.072500  154.177826  46.369999  14.303333
2015-01-06 00:00:00+00:00  ...  26.635000  152.648178  46.380001  14.004000
2015-01-07 00:00:00+00:00  ...  26.799999  150.286804  45.980000  14.223333
2015-01-08 00:00:00+00:00  ...  27.307501  149.369019  46.750000  14.187333

Price                              Volume
Ticker                    TWTR       AAPL      IBM      MSFT      TSLA TWTR
Date
2015-01-02 00:00:00+00:00  NaN  212818400  5779673  27913900  71466000  NaN
2015-01-05 00:00:00+00:00  NaN  257142000  5104898  39673900  80527500  NaN
2015-01-06 00:00:00+00:00  NaN  263188400  6429448  36447900  93928500  NaN
2015-01-07 00:00:00+00:00  NaN  160423600  4918083  29114100  44526000  NaN
2015-01-08 00:00:00+00:00  NaN  237458000  4431693  29645200  51637500  NaN

[5 rows x 30 columns]
MultiIndex([('Adj Close', 'AAPL'),
            ('Adj Close',  'IBM'),
            ('Adj Close', 'MSFT'),
            ('Adj Close', 'TSLA'),
            ('Adj Close', 'TWTR'),
            (    'Close', 'AAPL'),
            (    'Close',  'IBM'),
            (    'Close', 'MSFT'),
            (    'Close', 'TSLA'),
            (    'Close', 'TWTR'),
            (     'High', 'AAPL'),
            (     'High',  'IBM'),
            (     'High', 'MSFT'),
            (     'High', 'TSLA'),
            (     'High', 'TWTR'),
            (      'Low', 'AAPL'),
            (      'Low',  'IBM'),
            (      'Low', 'MSFT'),
            (      'Low', 'TSLA'),
            (      'Low', 'TWTR'),
            (     'Open', 'AAPL'),
            (     'Open',  'IBM'),
            (     'Open', 'MSFT'),
            (     'Open', 'TSLA'),
            (     'Open', 'TWTR'),
            (   'Volume', 'AAPL'),
            (   'Volume',  'IBM'),
            (   'Volume', 'MSFT'),
            (   'Volume', 'TSLA'),
            (   'Volume', 'TWTR')],
           names=['Price', 'Ticker'])
Multi-index columns:
[['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], ['AAPL', 'IBM', 'MSFT', 'TSLA', 'TWTR']]
Price                          Volume
Ticker                           AAPL
Date
2015-01-05 00:00:00+00:00   469960400
2015-01-12 00:00:00+00:00  1074471200
2015-01-19 00:00:00+00:00  1018303200
2015-01-26 00:00:00+00:00  1017408000
2015-02-02 00:00:00+00:00  1891867200

### Step 9. Find all the volume traded in the year of 2015

In [20]:
# Define stock symbols and time range
stocks = ['AAPL', 'TSLA', 'TWTR', 'IBM', 'MSFT']
start_date = dt.datetime(2015, 1, 1)
end_date = dt.datetime(2015, 12, 31)

# Download the data using yfinance
df = yf.download(stocks, start=start_date, end=end_date)

# Check the structure of the DataFrame
print(df.head())
print(df.columns)

# Sum the Volume traded for each stock in 2015
# If data is multi-indexed, sum the volume for each stock
if isinstance(df.columns, pd.MultiIndex):
    volume_2015 = df['Volume'].loc['2015'].sum()
else:
    volume_2015 = df['Volume'].sum()

# Display the total volume for 2015
print("Total Volume Traded in 2015:")
print(volume_2015)

[*********************100%***********************]  5 of 5 completed
ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['TWTR']: YFTzMissingError('$%ticker%: possibly delisted; no timezone found')

Price                      Adj Close                                         \
Ticker                          AAPL         IBM       MSFT       TSLA TWTR
Date
2015-01-02 00:00:00+00:00  24.347166  100.658325  40.232845  14.620667  NaN
2015-01-05 00:00:00+00:00  23.661280   99.074463  39.862869  14.006000  NaN
2015-01-06 00:00:00+00:00  23.663494   96.937820  39.277794  14.085333  NaN
2015-01-07 00:00:00+00:00  23.995316   96.304268  39.776836  14.063333  NaN
2015-01-08 00:00:00+00:00  24.917269   98.397453  40.946999  14.041333  NaN

Price                          Close                                         \
Ticker                          AAPL         IBM       MSFT       TSLA TWTR
Date
2015-01-02 00:00:00+00:00  27.332500  154.933075  46.759998  14.620667  NaN
2015-01-05 00:00:00+00:00  26.562500  152.495224  46.330002  14.006000  NaN
2015-01-06 00:00:00+00:00  26.565001  149.206497  45.650002  14.085333  NaN
2015-01-07 00:00:00+00:00  26.937500  148.231354  46.230000  14.063333  NaN
2015-01-08 00:00:00+00:00  27.972500  151.453156  47.590000  14.041333  NaN

Price                      ...       Open                                    \
Ticker                     ...       AAPL         IBM       MSFT       TSLA
Date                       ...
2015-01-02 00:00:00+00:00  ...  27.847500  154.216064  46.660000  14.858000
2015-01-05 00:00:00+00:00  ...  27.072500  154.177826  46.369999  14.303333
2015-01-06 00:00:00+00:00  ...  26.635000  152.648178  46.380001  14.004000
2015-01-07 00:00:00+00:00  ...  26.799999  150.286804  45.980000  14.223333
2015-01-08 00:00:00+00:00  ...  27.307501  149.369019  46.750000  14.187333

Price                              Volume
Ticker                    TWTR       AAPL      IBM      MSFT      TSLA TWTR
Date
2015-01-02 00:00:00+00:00  NaN  212818400  5779673  27913900  71466000  NaN
2015-01-05 00:00:00+00:00  NaN  257142000  5104898  39673900  80527500  NaN
2015-01-06 00:00:00+00:00  NaN  263188400  6429448  36447900  93928500  NaN
2015-01-07 00:00:00+00:00  NaN  160423600  4918083  29114100  44526000  NaN
2015-01-08 00:00:00+00:00  NaN  237458000  4431693  29645200  51637500  NaN

[5 rows x 30 columns]
MultiIndex([('Adj Close', 'AAPL'),
            ('Adj Close',  'IBM'),
            ('Adj Close', 'MSFT'),
            ('Adj Close', 'TSLA'),
            ('Adj Close', 'TWTR'),
            (    'Close', 'AAPL'),
            (    'Close',  'IBM'),
            (    'Close', 'MSFT'),
            (    'Close', 'TSLA'),
            (    'Close', 'TWTR'),
            (     'High', 'AAPL'),
            (     'High',  'IBM'),
            (     'High', 'MSFT'),
            (     'High', 'TSLA'),
            (     'High', 'TWTR'),
            (      'Low', 'AAPL'),
            (      'Low',  'IBM'),
            (      'Low', 'MSFT'),
            (      'Low', 'TSLA'),
            (      'Low', 'TWTR'),
            (     'Open', 'AAPL'),
            (     'Open',  'IBM'),
            (     'Open', 'MSFT'),
            (     'Open', 'TSLA'),
            (     'Open', 'TWTR'),
            (   'Volume', 'AAPL'),
            (   'Volume',  'IBM'),
            (   'Volume', 'MSFT'),
            (   'Volume', 'TSLA'),
            (   'Volume', 'TWTR')],
           names=['Price', 'Ticker'])
Total Volume Traded in 2015:
Ticker
AAPL    5.210055e+10
IBM     1.152818e+09
MSFT    9.032122e+09
TSLA    1.628254e+10
TWTR    0.000000e+00
dtype: float64

### BONUS: Create your own question and answer it.

What is the average closing price of each stock in the year 2020?

In [21]:
# Define stock symbols and time range
stocks = ['AAPL', 'TSLA', 'TWTR', 'IBM', 'MSFT']
start_date = dt.datetime(2020, 1, 1)
end_date = dt.datetime(2020, 12, 31)

# Download the data using yfinance
df = yf.download(stocks, start=start_date, end=end_date)

# Check the structure of the DataFrame
print(df.head())
print(df.columns)

# Calculate the average closing price for each stock in 2020
# If the data is multi-indexed, select 'Close' for each stock and calculate the mean
if isinstance(df.columns, pd.MultiIndex):
    avg_close_2020 = df['Close'].loc['2020'].mean()
else:
    avg_close_2020 = df['Close'].mean()

# Display the average closing prices for each stock in 2020
print("Average Closing Price for Each Stock in 2020:")
print(avg_close_2020)

[*********************100%***********************]  5 of 5 completed
ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['TWTR']: YFTzMissingError('$%ticker%: possibly delisted; no timezone found')

Price                      Adj Close                                          \
Ticker                          AAPL         IBM        MSFT       TSLA TWTR
Date
2020-01-02 00:00:00+00:00  72.796021  102.597878  153.938202  28.684000  NaN
2020-01-03 00:00:00+00:00  72.088295  101.779625  152.021393  29.534000  NaN
2020-01-06 00:00:00+00:00  72.662720  101.597794  152.414337  30.102667  NaN
2020-01-07 00:00:00+00:00  72.320992  101.665977  151.024658  31.270666  NaN
2020-01-08 00:00:00+00:00  73.484360  102.514519  153.430237  32.809334  NaN

Price                          Close                                          \
Ticker                          AAPL         IBM        MSFT       TSLA TWTR
Date
2020-01-02 00:00:00+00:00  75.087502  129.464630  160.619995  28.684000  NaN
2020-01-03 00:00:00+00:00  74.357498  128.432129  158.619995  29.534000  NaN
2020-01-06 00:00:00+00:00  74.949997  128.202682  159.029999  30.102667  NaN
2020-01-07 00:00:00+00:00  74.597504  128.288712  157.580002  31.270666  NaN
2020-01-08 00:00:00+00:00  75.797501  129.359467  160.089996  32.809334  NaN

Price                      ...       Open                                     \
Ticker                     ...       AAPL         IBM        MSFT       TSLA
Date                       ...
2020-01-02 00:00:00+00:00  ...  74.059998  129.063095  158.779999  28.299999
2020-01-03 00:00:00+00:00  ...  74.287498  127.695984  158.320007  29.366667
2020-01-06 00:00:00+00:00  ...  73.447502  127.552582  157.080002  29.364668
2020-01-07 00:00:00+00:00  ...  74.959999  127.810707  159.320007  30.760000
2020-01-08 00:00:00+00:00  ...  74.290001  128.594650  158.929993  31.580000

Price                              Volume
Ticker                    TWTR       AAPL      IBM      MSFT       TSLA TWTR
Date
2020-01-02 00:00:00+00:00  NaN  135480400  3293436  22622100  142981500  NaN
2020-01-03 00:00:00+00:00  NaN  146322800  2482890  21116200  266677500  NaN
2020-01-06 00:00:00+00:00  NaN  118387200  2537073  20813700  151995000  NaN
2020-01-07 00:00:00+00:00  NaN  108872000  3232977  21634100  268231500  NaN
2020-01-08 00:00:00+00:00  NaN  132079200  4545916  27746500  467164500  NaN

[5 rows x 30 columns]
MultiIndex([('Adj Close', 'AAPL'),
            ('Adj Close',  'IBM'),
            ('Adj Close', 'MSFT'),
            ('Adj Close', 'TSLA'),
            ('Adj Close', 'TWTR'),
            (    'Close', 'AAPL'),
            (    'Close',  'IBM'),
            (    'Close', 'MSFT'),
            (    'Close', 'TSLA'),
            (    'Close', 'TWTR'),
            (     'High', 'AAPL'),
            (     'High',  'IBM'),
            (     'High', 'MSFT'),
            (     'High', 'TSLA'),
            (     'High', 'TWTR'),
            (      'Low', 'AAPL'),
            (      'Low',  'IBM'),
            (      'Low', 'MSFT'),
            (      'Low', 'TSLA'),
            (      'Low', 'TWTR'),
            (     'Open', 'AAPL'),
            (     'Open',  'IBM'),
            (     'Open', 'MSFT'),
            (     'Open', 'TSLA'),
            (     'Open', 'TWTR'),
            (   'Volume', 'AAPL'),
            (   'Volume',  'IBM'),
            (   'Volume', 'MSFT'),
            (   'Volume', 'TSLA'),
            (   'Volume', 'TWTR')],
           names=['Price', 'Ticker'])
Average Closing Price for Each Stock in 2020:
Ticker
AAPL     95.198889
IBM     118.923905
MSFT    192.909484
TSLA     96.115857
TWTR           NaN
dtype: float64