<a href="https://colab.research.google.com/github/bonareri/Python-Data-Analysis/blob/main/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [11]:
data_dict = {
    "evolution": ["Ivysaur", "Charmeleon", "Wartortle", "Metapod"],
    "hp": [45, 39, 44, 45],
    "name": ["Bulbasaur", "Charmander", "Squirtle", "Caterpie"],
    "pokedex": ["yes", "no", "yes", "no"],
    "type": ["grass", "fire", "water", "bug"]
    }

pokemon = pd.DataFrame(data_dict)
print(pokemon)

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 3. Assign it to a variable called pokemon

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [12]:
pokemon_df = pokemon[["name", "type", "hp", "evolution", "pokedex"]]
print(pokemon_df)

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [13]:
pokemon["place"] = ["forest", "cave", "lake", "cave"]
print(pokemon)

    evolution  hp        name pokedex   type   place
0     Ivysaur  45   Bulbasaur     yes  grass  forest
1  Charmeleon  39  Charmander      no   fire    cave
2   Wartortle  44    Squirtle     yes  water    lake
3     Metapod  45    Caterpie      no    bug    cave

### Step 6. Present the type of each column

In [14]:
print(pokemon.dtypes)

evolution    object
hp            int64
name         object
pokedex      object
type         object
place        object
dtype: object

### BONUS: Create your own question and answer it.

# Create a DataFrame df with information about studentsâ€™ scores in different subjects:
1. Add a new column called "average_score" that calculates the average score of each student across math, science, and english.
2. Filter and display only those students whose average score is greater than 85.

In [15]:
data = {
    "name": ["Alice", "Bob", "Charlie", "David"],
    "math": [90, 85, 78, 92],
    "science": [88, 92, 89, 95],
    "english": [92, 88, 91, 87]
}

df = pd.DataFrame(data)
print(df)

      name  math  science  english
0    Alice    90       88       92
1      Bob    85       92       88
2  Charlie    78       89       91
3    David    92       95       87

In [17]:
#Adding a new column called average
df["average_score"] = df[["math", "science", "english",]].mean(axis=1)

#filtering students with average_score > 85
filtered_df = df[df["average_score"] > 85]
print(filtered_df)

      name  math  science  english  average_score
0    Alice    90       88       92      90.000000
1      Bob    85       92       88      88.333333
2  Charlie    78       89       91      86.000000
3    David    92       95       87      91.333333