<a href="https://colab.research.google.com/github/bonareri/Python-Data-Analysis/blob/main/Exercises_(18).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [ ]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [1]:
#importing the dataset
import pandas as pd
import datetime

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [14]:
data = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data', sep = "\s+", parse_dates = [[0,1,2]])
data.head()

<ipython-input-14-f67947f086a5>:1: FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
  data = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data', sep = "\s+", parse_dates = [[0,1,2]])
<ipython-input-14-f67947f086a5>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data', sep = "\s+", parse_dates = [[0,1,2]])

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [3]:
#fixing the year column
def fix_year(x):
    year = x.year - 100 if x.year > 1989 else x.year
    return datetime.date(year, x.month, x.day)

In [15]:
data.columns

Index(['Yr_Mo_Dy', 'RPT', 'VAL', 'ROS', 'KIL', 'SHA', 'BIR', 'DUB', 'CLA',
       'MUL', 'CLO', 'BEL', 'MAL'],
      dtype='object')

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [16]:
# Convert the 'Yr_Mo_Dy' column to datetime format
data['Yr_Mo_Dy'] = pd.to_datetime(data['Yr_Mo_Dy'], errors='coerce')

# Check if there are any invalid or missing dates
if data['Yr_Mo_Dy'].isna().any():
    print("There are invalid dates in 'Yr_Mo_Dy'. Please check the data.")
else:
    # Set the 'Yr_Mo_Dy' column as the index
    data.set_index('Yr_Mo_Dy', inplace=True)

# Verify that the index is now of datetime64[ns] type
print(data.index)

DatetimeIndex(['2061-01-01', '2061-01-02', '2061-01-03', '2061-01-04',
               '2061-01-05', '2061-01-06', '2061-01-07', '2061-01-08',
               '2061-01-09', '2061-01-10',
               ...
               '1978-12-22', '1978-12-23', '1978-12-24', '1978-12-25',
               '1978-12-26', '1978-12-27', '1978-12-28', '1978-12-29',
               '1978-12-30', '1978-12-31'],
              dtype='datetime64[ns]', name='Yr_Mo_Dy', length=6574, freq=None)

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [5]:
#checking  missing values
data.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [6]:
#checking non- missing values
data.notnull().sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [7]:
#mean windspeeds of the windspeeds over all the locations and all the times.
data.mean().mean()

10.227982360836938

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days

#### A different set of numbers for each location.

In [8]:
loc_stats = data.describe()
loc_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
count,6568.000000,6571.000000,6572.000000,6569.000000,6572.000000,6574.000000,6571.000000,6572.000000,6571.000000,6573.000000,6574.000000,6570.000000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
25%,8.120000,6.670000,8.000000,3.580000,6.750000,4.000000,6.000000,5.090000,5.370000,5.330000,8.710000,10.710000
50%,11.710000,10.170000,10.920000,5.750000,9.960000,6.830000,9.210000,8.080000,8.170000,8.290000,12.500000,15.000000
75%,15.920000,14.040000,14.670000,8.420000,13.540000,9.670000,12.960000,11.420000,11.190000,11.630000,16.880000,19.830000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [17]:
windspeed_data = data.iloc[:, 1:]

# Calculate daily statistics
day_stats = pd.DataFrame({
    'min_windspeed': windspeed_data.min(axis=1),
    'max_windspeed': windspeed_data.max(axis=1),
    'mean_windspeed': windspeed_data.mean(axis=1),
    'std_windspeed': windspeed_data.std(axis=1)
})

# Display the first few rows of day_stats
print(day_stats)

            min_windspeed  max_windspeed  mean_windspeed  std_windspeed
Yr_Mo_Dy
2061-01-01           9.29          18.50       12.816000       2.875205
2061-01-02           6.50          17.54       10.999000       3.147791
2061-01-03           6.17          16.88       10.956000       3.051896
2061-01-04           1.79          11.75        6.259091       3.088587
2061-01-05           6.17          13.25       10.384545       2.404676
...                   ...            ...             ...            ...
1978-12-27           8.08          40.08       16.629091       8.247084
1978-12-28           5.00          41.46       15.326364      10.140485
1978-12-29           8.71          29.58       14.970909       6.030661
1978-12-30           9.13          28.79       15.082727       5.718009
1978-12-31           9.59          27.29       14.954545       5.755118

[6574 rows x 4 columns]

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [18]:
# Filter rows for January
january_data = data[data.index.month == 1]

# Calculate the average windspeed for January for each location
avg_jan_windspeed = january_data.mean()

# Display the result
print(avg_jan_windspeed)

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [19]:
# Downsample the data to yearly frequency, calculating the mean for each year
yearly_data = data.resample('Y').mean()

# Display the yearly data
print(yearly_data)

                  RPT        VAL        ROS       KIL        SHA       BIR  \
Yr_Mo_Dy
1974-12-31  13.643096  11.811781  12.336356  6.427041  11.110986  6.809781
1975-12-31  12.008575  10.293836  11.564712  5.269096   9.190082  5.668521
1976-12-31  11.737842  10.203115  10.761230  5.109426   8.846339  6.311038
1977-12-31  13.099616  11.144493  12.627836  6.073945  10.003836  8.586438
1978-12-31  12.504356  11.044274  11.380000  6.082356  10.167233  7.650658
...               ...        ...        ...       ...        ...       ...
2069-12-31  11.166356   9.723699  10.902000  5.767973   9.873918  6.189973
2070-12-31  12.600329  10.726932  11.730247  6.217178  10.567370  7.609452
2071-12-31  11.273123   9.095178  11.088329  5.241507   9.440329  6.097151
2072-12-31  12.463962  10.561311  12.058333  5.929699   9.430410  6.358825
2073-12-31  11.828466  10.680493  10.680493  5.547863   9.640877  6.548740

                  DUB       CLA       MUL       CLO        BEL        MAL
Yr_Mo_Dy
1974-12-31  10.084603  9.896986  9.331753  8.736356  13.252959  16.947671
1975-12-31   8.562603  7.843836  8.797945  7.382822  12.631671  15.307863
1976-12-31   9.149126  7.146202  8.883716  7.883087  12.332377  15.471448
1977-12-31  11.523205  8.378384  9.098192  8.821616  13.459068  16.590849
1978-12-31   9.489342  8.800466  9.089753  8.301699  12.967397  16.771370
...               ...       ...       ...       ...        ...        ...
2069-12-31   8.564493  7.711397  7.924521  7.754384  12.621233  15.762904
2070-12-31   9.609890  8.334630  9.297616  8.289808  13.183644  16.456027
2071-12-31   8.385890  6.757315  7.915370  7.229753  12.208932  15.025233
2072-12-31   9.704508  7.680792  8.357295  7.515273  12.727377  15.028716
2073-12-31   8.482110  7.614274  8.245534  7.812411  12.169699  15.441096

[100 rows x 12 columns]

<ipython-input-19-0f3a73f404df>:2: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  yearly_data = data.resample('Y').mean()

### Step 13. Downsample the record to a monthly frequency for each location.

In [20]:
# Downsample the data to monthly frequency, calculating the mean for each month
monthly_data = data.resample('M').mean()

# Display the monthly data
print(monthly_data)

                  RPT        VAL        ROS        KIL        SHA        BIR  \
Yr_Mo_Dy
1974-01-31  20.990968  17.623548  17.514839  10.549355  15.858387  11.298387
1974-02-28  13.576071  12.451786  11.263571   6.103929  10.590357   6.516429
1974-03-31  11.156129  10.725484  12.019355   5.743226   9.576452   5.892903
1974-04-30   9.481000   6.919667  12.099333   4.061000   7.659000   4.046333
1974-05-31  13.381290  11.769677  12.355484   6.656452  10.874194   6.481290
...               ...        ...        ...        ...        ...        ...
2073-08-31   8.955161   7.868710   8.996774   4.396129   7.860645   4.989355
2073-09-30  11.632667  10.963667  11.634667   5.194333   9.100333   5.730667
2073-10-31  11.531935   9.858710  11.535161   4.356452   8.773226   5.189677
2073-11-30  11.540667  10.868000  10.613000   5.385000  10.463667   6.147333
2073-12-31  13.670000  12.086774  11.278065   5.619355  10.672581   6.914516

                  DUB        CLA        MUL        CLO        BEL        MAL
Yr_Mo_Dy
1974-01-31  14.112258  12.786452  14.691935  15.092903  19.929677  24.573226
1974-02-28   9.818929   8.578929   9.212857   9.045000  12.172143  16.891786
1974-03-31   8.520000   9.039032   8.339032   7.626774  11.234516  15.141613
1974-04-30   5.438667   7.609333   6.058667   5.024000   7.983333   9.898000
1974-05-31   9.680645  10.810645   8.830323   9.624516  13.319032  16.006774
...               ...        ...        ...        ...        ...        ...
2073-08-31   6.051290   5.173548   6.171935   5.745161  10.512258  12.328710
2073-09-30   7.053000   7.048333   6.911667   6.111667  12.149667  13.966667
2073-10-31   6.455806   7.140000   6.254516   6.890323  10.758387  14.955484
2073-11-30   7.525667   7.619667   8.378333   8.311333  11.499333  18.441000
2073-12-31  10.841290   8.516129   9.311613   9.702581  13.274194  19.728387

[1200 rows x 12 columns]

<ipython-input-20-000120f52ba2>:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_data = data.resample('M').mean()

### Step 14. Downsample the record to a weekly frequency for each location.

In [21]:
# Downsample the data to weekly frequency, calculating the mean for each week
weekly_data = data.resample('W').mean()

# Display the weekly data
print(weekly_data)

                  RPT        VAL        ROS        KIL        SHA        BIR  \
Yr_Mo_Dy
1974-01-06  23.655000  16.278333  20.560000  12.075000  15.348333  12.673333
1974-01-13  21.450000  19.514286  17.290000  11.137143  17.608571  11.971429
1974-01-20  21.335714  19.190000  16.964286   9.992857  17.074286  11.382857
1974-01-27  17.612857  15.737143  14.915714   8.802857  13.285714   9.658571
1974-02-03  20.007143  16.865714  17.445714  10.608571  15.530000  10.611429
...               ...        ...        ...        ...        ...        ...
2073-12-03  11.661429  10.261429  10.628571   4.364286   9.871429   5.492857
2073-12-10  15.694286  12.995714  12.791429   6.320000  11.505714   8.112857
2073-12-17  16.344286  14.101429  11.411429   8.208571  13.975714   8.802857
2073-12-24  12.392857  11.960000  10.768571   3.892857   8.131429   3.692857
2073-12-31  11.060000  10.392857  10.272857   4.714286   9.727143   7.328571

                  DUB        CLA        MUL        CLO        BEL        MAL
Yr_Mo_Dy
1974-01-06  12.596667  12.833333  16.118333  17.248333  18.036667  24.450000
1974-01-13  14.857143  13.392857  14.938571  15.547143  22.870000  25.210000
1974-01-20  15.731429  13.565714  14.878571  14.397143  21.941429  26.510000
1974-01-27  12.470000  11.328571  12.655714  12.832857  16.857143  20.892857
1974-02-03  14.541429  12.344286  14.465714  14.528571  17.280000  23.570000
...               ...        ...        ...        ...        ...        ...
2073-12-03   7.125714   7.052857   6.977143   5.842857  10.535714  14.047143
2073-12-10  11.882857   9.108571   9.885714  10.530000  13.750000  20.047143
2073-12-17  15.197143  11.102857  12.381429  13.410000  16.552857  26.521429
2073-12-24   6.232857   5.584286   6.428571   6.214286   8.862857  13.075714
2073-12-31  10.298571   8.632857   9.340000   9.744286  14.678571  20.182857

[5218 rows x 12 columns]

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [23]:
# Resample to weekly frequency, starting the week on January 2, 1961 (Monday)
weekly_data = data.resample('W-MON', origin='1961-01-02').mean()

# Limit to the first 52 weeks
weekly_data_52 = weekly_data.head(52)

# Calculate min, max, mean, and standard deviation across all locations for each week
weekly_stats = pd.DataFrame({
    'min_windspeed': weekly_data_52.min(axis=1),
    'max_windspeed': weekly_data_52.max(axis=1),
    'mean_windspeed': weekly_data_52.mean(axis=1),
    'std_windspeed': weekly_data_52.std(axis=1),
})

# Display the result
print(weekly_stats)

            min_windspeed  max_windspeed  mean_windspeed  std_windspeed
Yr_Mo_Dy
1974-01-07      11.665714      23.148571       16.312381       4.078631
1974-01-14      11.505714      25.964286       17.586667       4.483078
1974-01-21       8.940000      24.992857       15.646190       4.381543
1974-01-28       9.968571      25.005714       15.757262       4.109858
1974-02-04       9.391429      20.594286       13.909524       3.419341
1974-02-11       8.358571      20.732857       13.820000       3.999873
1974-02-18       6.295714      15.200000       10.482738       2.863044
1974-02-25       3.405714      15.298571        7.247738       3.047709
1974-03-04       3.804286      13.647143        7.765476       2.855588
1974-03-11       6.405714      19.398571       11.503929       3.490894
1974-03-18       7.301429      17.411429       11.736190       2.904195
1974-03-25       5.644286      15.268571        9.810119       2.592617
1974-04-01       3.338571       9.862857        6.611190       2.363740
1974-04-08       5.291429      13.952857        8.593690       2.770932
1974-04-15       3.612857      12.400000        7.812738       2.654845
1974-04-22       1.858571       8.027143        4.574405       2.022717
1974-04-29       2.702857      14.017143        6.452619       2.933705
1974-05-06       5.952857      13.671429        9.635119       2.484235
1974-05-13       8.418571      18.995714       13.265357       3.225541
1974-05-20       6.332857      16.601429       11.195952       3.334130
1974-05-27       6.291429      17.404286       10.959167       3.237110
1974-06-03       5.031429      16.387143        9.637976       3.080009
1974-06-10       6.930000      17.447143       11.360238       3.058615
1974-06-17       3.825714      10.714286        6.793095       2.154065
1974-06-24       4.952857      12.891429        9.589167       2.543839
1974-07-01       4.315714      12.840000        7.862381       2.415353
1974-07-08       5.638571      12.742857        9.780238       2.457064
1974-07-15       6.088571      15.590000       10.797143       2.942358
1974-07-22       6.262857      19.944286       10.791667       3.715661
1974-07-29       5.484286      14.911429        9.468571       2.696187
1974-08-05       3.904286      10.965714        6.948095       2.571893
1974-08-12       5.567143      16.160000        9.969048       2.901602
1974-08-19       4.582857      14.007143        8.843452       2.700153
1974-08-26       5.030000      15.742857       10.306071       3.138534
1974-09-02       4.862857      13.100000        8.955952       2.711635
1974-09-09       7.035714      17.892857       11.524881       3.554579
1974-09-16       5.261429      15.358571        9.430357       2.815869
1974-09-23       6.177143      21.622857       11.576905       4.347597
1974-09-30       5.244286      13.964286        9.337857       3.167877
1974-10-07       6.320000      21.982857       11.811786       4.540213
1974-10-14       3.351429      14.802857        7.632976       3.358439
1974-10-21       5.440000      16.971429        9.950952       3.730990
1974-10-28       7.565714      24.325714       12.799286       4.399781
1974-11-04       5.482857      14.154286        9.341905       2.772106
1974-11-11       6.672857      21.988571       12.577619       4.075922
1974-11-18       5.417143      16.492857        9.560476       3.157202
1974-11-25       5.264286      15.860000       10.007619       3.147569
1974-12-02       6.940000      21.417143       12.750714       3.807026
1974-12-09       7.881429      24.432857       14.623095       4.470852
1974-12-16       9.617143      23.811429       15.243571       3.963004
1974-12-23      11.978571      27.322857       18.649167       4.355915
1974-12-30       9.761429      22.452857       15.873810       3.770803