<a href="https://colab.research.google.com/github/bonareri/Python-Data-Analysis/blob/main/Exercises_(23).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [1]:
#importing the libraries
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [2]:
wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data')
wine.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [3]:
# Droping the specified columns by their index
wine = wine.drop(wine.columns[[0, 3, 6, 8, 10, 12, 13]], axis=1)

# Display the first few rows to verify
print(wine.head())

   14.23  1.71  15.6  127  3.06  2.29  1.04
0  13.20  1.78  11.2  100  2.76  1.28  1.05
1  13.16  2.36  18.6  101  3.24  2.81  1.03
2  14.37  1.95  16.8  113  3.49  2.18  0.86
3  13.24  2.59  21.0  118  2.69  1.82  1.04
4  14.20  1.76  15.2  112  3.39  1.97  1.05

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [4]:
# Assign the new column names
wine.columns = ['alcohol', 'malic_acid', 'alcalinity_of_ash', 'magnesium', 'flavanoids', 'proanthocyanins', 'hue']

# Display the first few rows to verify the changes
print(wine.head())

   alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0    13.20        1.78               11.2        100        2.76
1    13.16        2.36               18.6        101        3.24
2    14.37        1.95               16.8        113        3.49
3    13.24        2.59               21.0        118        2.69
4    14.20        1.76               15.2        112        3.39

   proanthocyanins   hue
0             1.28  1.05
1             2.81  1.03
2             2.18  0.86
3             1.82  1.04
4             1.97  1.05

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [6]:
# Set the first three rows of the 'alcohol' column to NaN
wine.loc[0:2, 'alcohol'] = np.nan

# Display the first few rows to verify the changes
print(wine.head())

   alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0      NaN        1.78               11.2        100        2.76
1      NaN        2.36               18.6        101        3.24
2      NaN        1.95               16.8        113        3.49
3    13.24        2.59               21.0        118        2.69
4    14.20        1.76               15.2        112        3.39

   proanthocyanins   hue
0             1.28  1.05
1             2.81  1.03
2             2.18  0.86
3             1.82  1.04
4             1.97  1.05

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [7]:
# Set the values of rows 3 and 4 in the 'magnesium' column to NaN
wine.loc[2:3, 'magnesium'] = np.nan

# Display the first few rows to verify the changes
print(wine.head())

   alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0      NaN        1.78               11.2      100.0        2.76
1      NaN        2.36               18.6      101.0        3.24
2      NaN        1.95               16.8        NaN        3.49
3    13.24        2.59               21.0        NaN        2.69
4    14.20        1.76               15.2      112.0        3.39

   proanthocyanins   hue
0             1.28  1.05
1             2.81  1.03
2             2.18  0.86
3             1.82  1.04
4             1.97  1.05

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [8]:
# Fill NaN values in the 'alcohol' column with 10
wine['alcohol'] = wine['alcohol'].fillna(10)

# Fill NaN values in the 'magnesium' column with 100
wine['magnesium'] = wine['magnesium'].fillna(100)

# Display the first few rows to verify the changes
print(wine.head())

   alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0    10.00        1.78               11.2      100.0        2.76
1    10.00        2.36               18.6      101.0        3.24
2    10.00        1.95               16.8      100.0        3.49
3    13.24        2.59               21.0      100.0        2.69
4    14.20        1.76               15.2      112.0        3.39

   proanthocyanins   hue
0             1.28  1.05
1             2.81  1.03
2             2.18  0.86
3             1.82  1.04
4             1.97  1.05

### Step 9. Count the number of missing values

In [9]:
wine.isnull().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [10]:
# Create an array of 10 random numbers between 0 and 10
random_numbers = np.random.randint(0, 11, size=10)

# Display the array
print(random_numbers)

[4 1 8 6 8 7 8 8 7 6]

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [11]:
# Assign NaN values to the rows with the indices from the random_numbers array
wine.loc[random_numbers] = np.nan

# Display the modified DataFrame to verify the changes
print(wine.head())

   alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0    10.00        1.78               11.2      100.0        2.76
1      NaN         NaN                NaN        NaN         NaN
2    10.00        1.95               16.8      100.0        3.49
3    13.24        2.59               21.0      100.0        2.69
4      NaN         NaN                NaN        NaN         NaN

   proanthocyanins   hue
0             1.28  1.05
1              NaN   NaN
2             2.18  0.86
3             1.82  1.04
4              NaN   NaN

### Step 12.  How many missing values do we have?

In [12]:
wine.isnull().sum()

alcohol              5
malic_acid           5
alcalinity_of_ash    5
magnesium            5
flavanoids           5
proanthocyanins      5
hue                  5
dtype: int64

### Step 13. Delete the rows that contain missing values

In [13]:
# Drop rows that contain any NaN values
wine = wine.dropna()

# Display the modified DataFrame to verify the changes
print(wine.head())

   alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0    10.00        1.78               11.2      100.0        2.76
2    10.00        1.95               16.8      100.0        3.49
3    13.24        2.59               21.0      100.0        2.69
5    14.39        1.87               14.6       96.0        2.52
9    14.10        2.16               18.0      105.0        3.32

   proanthocyanins   hue
0             1.28  1.05
2             2.18  0.86
3             1.82  1.04
5             1.98  1.02
9             2.38  1.25

### Step 14. Print only the non-null values in alcohol

In [14]:
# Print only the non-null values in the 'alcohol' column
print(wine['alcohol'].dropna())

0      10.00
2      10.00
3      13.24
5      14.39
9      14.10
       ...
172    13.71
173    13.40
174    13.27
175    13.17
176    14.13
Name: alcohol, Length: 172, dtype: float64

### Step 15.  Reset the index, so it starts with 0 again

In [15]:
# Reset the index so it starts from 0
wine = wine.reset_index(drop=True)

# Display the DataFrame to verify the changes
print(wine.head())

   alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0    10.00        1.78               11.2      100.0        2.76
1    10.00        1.95               16.8      100.0        3.49
2    13.24        2.59               21.0      100.0        2.69
3    14.39        1.87               14.6       96.0        2.52
4    14.10        2.16               18.0      105.0        3.32

   proanthocyanins   hue
0             1.28  1.05
1             2.18  0.86
2             1.82  1.04
3             1.98  1.02
4             2.38  1.25

### BONUS: Create your own question and answer it.

How can I check for duplicate rows in my DataFrame and remove them?

In [16]:
# Check for duplicate rows
duplicates = wine.duplicated()

# Print rows that are duplicates
print(wine[duplicates])

# Remove duplicate rows
wine = wine.drop_duplicates()

# Display the DataFrame after removing duplicates
print(wine.head())

Empty DataFrame
Columns: [alcohol, malic_acid, alcalinity_of_ash, magnesium, flavanoids, proanthocyanins, hue]
Index: []
   alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0    10.00        1.78               11.2      100.0        2.76
1    10.00        1.95               16.8      100.0        3.49
2    13.24        2.59               21.0      100.0        2.69
3    14.39        1.87               14.6       96.0        2.52
4    14.10        2.16               18.0      105.0        3.32

   proanthocyanins   hue
0             1.28  1.05
1             2.18  0.86
2             1.82  1.04
3             1.98  1.02
4             2.38  1.25