<a href="https://colab.research.google.com/github/bonareri/Python-Data-Analysis/blob/main/Exercises_(22).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [1]:
#importing the libraries
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [7]:
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

### Step 4. Create columns for the dataset

In [9]:
# Rename the columns of the iris dataset
iris.columns = ['sepal_length (in cm)', 'sepal_width (in cm)', 'petal_length (in cm)', 'petal_width (in cm)', 'class']

# Display the updated DataFrame
print(iris.head())

   sepal_length (in cm)  sepal_width (in cm)  petal_length (in cm)  \
0                   4.9                  3.0                   1.4
1                   4.7                  3.2                   1.3
2                   4.6                  3.1                   1.5
3                   5.0                  3.6                   1.4
4                   5.4                  3.9                   1.7

   petal_width (in cm)        class
0                  0.2  Iris-setosa
1                  0.2  Iris-setosa
2                  0.2  Iris-setosa
3                  0.2  Iris-setosa
4                  0.4  Iris-setosa

### Step 5.  Is there any missing value in the dataframe?

In [10]:
iris.isnull().sum()

sepal_length (in cm)    0
sepal_width (in cm)     0
petal_length (in cm)    0
petal_width (in cm)     0
class                   0
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [11]:
# Set rows 10 to 29 of the 'petal_length' column to NaN
iris.loc[10:29, 'petal_length (in cm)'] = np.nan

# Display the updated DataFrame
print(iris.iloc[10:30])  # Display rows 10 to 29 to confirm the change

    sepal_length (in cm)  sepal_width (in cm)  petal_length (in cm)  \
10                   4.8                  3.4                   NaN
11                   4.8                  3.0                   NaN
12                   4.3                  3.0                   NaN
13                   5.8                  4.0                   NaN
14                   5.7                  4.4                   NaN
15                   5.4                  3.9                   NaN
16                   5.1                  3.5                   NaN
17                   5.7                  3.8                   NaN
18                   5.1                  3.8                   NaN
19                   5.4                  3.4                   NaN
20                   5.1                  3.7                   NaN
21                   4.6                  3.6                   NaN
22                   5.1                  3.3                   NaN
23                   4.8                  3.4                   NaN
24                   5.0                  3.0                   NaN
25                   5.0                  3.4                   NaN
26                   5.2                  3.5                   NaN
27                   5.2                  3.4                   NaN
28                   4.7                  3.2                   NaN
29                   4.8                  3.1                   NaN

    petal_width (in cm)        class
10                  0.2  Iris-setosa
11                  0.1  Iris-setosa
12                  0.1  Iris-setosa
13                  0.2  Iris-setosa
14                  0.4  Iris-setosa
15                  0.4  Iris-setosa
16                  0.3  Iris-setosa
17                  0.3  Iris-setosa
18                  0.3  Iris-setosa
19                  0.2  Iris-setosa
20                  0.4  Iris-setosa
21                  0.2  Iris-setosa
22                  0.5  Iris-setosa
23                  0.2  Iris-setosa
24                  0.2  Iris-setosa
25                  0.4  Iris-setosa
26                  0.2  Iris-setosa
27                  0.2  Iris-setosa
28                  0.2  Iris-setosa
29                  0.2  Iris-setosa

### Step 7. Good, now lets substitute the NaN values to 1.0

In [12]:
# Replace NaN values in 'petal_length (in cm)' column with 1.0
iris['petal_length (in cm)'].fillna(1.0, inplace=True)

# Display the updated DataFrame to confirm the change
print(iris.iloc[10:30])  # Display rows 10 to 29 to confirm the substitution

    sepal_length (in cm)  sepal_width (in cm)  petal_length (in cm)  \
10                   4.8                  3.4                   1.0
11                   4.8                  3.0                   1.0
12                   4.3                  3.0                   1.0
13                   5.8                  4.0                   1.0
14                   5.7                  4.4                   1.0
15                   5.4                  3.9                   1.0
16                   5.1                  3.5                   1.0
17                   5.7                  3.8                   1.0
18                   5.1                  3.8                   1.0
19                   5.4                  3.4                   1.0
20                   5.1                  3.7                   1.0
21                   4.6                  3.6                   1.0
22                   5.1                  3.3                   1.0
23                   4.8                  3.4                   1.0
24                   5.0                  3.0                   1.0
25                   5.0                  3.4                   1.0
26                   5.2                  3.5                   1.0
27                   5.2                  3.4                   1.0
28                   4.7                  3.2                   1.0
29                   4.8                  3.1                   1.0

    petal_width (in cm)        class
10                  0.2  Iris-setosa
11                  0.1  Iris-setosa
12                  0.1  Iris-setosa
13                  0.2  Iris-setosa
14                  0.4  Iris-setosa
15                  0.4  Iris-setosa
16                  0.3  Iris-setosa
17                  0.3  Iris-setosa
18                  0.3  Iris-setosa
19                  0.2  Iris-setosa
20                  0.4  Iris-setosa
21                  0.2  Iris-setosa
22                  0.5  Iris-setosa
23                  0.2  Iris-setosa
24                  0.2  Iris-setosa
25                  0.4  Iris-setosa
26                  0.2  Iris-setosa
27                  0.2  Iris-setosa
28                  0.2  Iris-setosa
29                  0.2  Iris-setosa

<ipython-input-12-db118e7d35bd>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  iris['petal_length (in cm)'].fillna(1.0, inplace=True)

### Step 8. Now let's delete the column class

In [13]:
# Drop the 'class' column from the DataFrame
iris.drop(columns=['class'], inplace=True)

# Display the updated DataFrame to confirm the deletion
print(iris.head())  # Display the first few rows to check the change

   sepal_length (in cm)  sepal_width (in cm)  petal_length (in cm)  \
0                   4.9                  3.0                   1.4
1                   4.7                  3.2                   1.3
2                   4.6                  3.1                   1.5
3                   5.0                  3.6                   1.4
4                   5.4                  3.9                   1.7

   petal_width (in cm)
0                  0.2
1                  0.2
2                  0.2
3                  0.2
4                  0.4

### Step 9.  Set the first 3 rows as NaN

In [14]:
# Set the first 3 rows as NaN
iris.iloc[0:3] = np.nan

# Display the updated DataFrame to confirm the change
print(iris.head())  # Display the first few rows to check the change

   sepal_length (in cm)  sepal_width (in cm)  petal_length (in cm)  \
0                   NaN                  NaN                   NaN
1                   NaN                  NaN                   NaN
2                   NaN                  NaN                   NaN
3                   5.0                  3.6                   1.4
4                   5.4                  3.9                   1.7

   petal_width (in cm)
0                  NaN
1                  NaN
2                  NaN
3                  0.2
4                  0.4

### Step 10.  Delete the rows that have NaN

In [15]:
# Drop rows that contain NaN values
iris.dropna(inplace=True)

# Display the updated DataFrame to confirm the deletion
print(iris.head())  # Display the first few rows to check the change

   sepal_length (in cm)  sepal_width (in cm)  petal_length (in cm)  \
3                   5.0                  3.6                   1.4
4                   5.4                  3.9                   1.7
5                   4.6                  3.4                   1.4
6                   5.0                  3.4                   1.5
7                   4.4                  2.9                   1.4

   petal_width (in cm)
3                  0.2
4                  0.4
5                  0.3
6                  0.2
7                  0.2

### Step 11. Reset the index so it begins with 0 again

In [16]:
# Reset the index
iris.reset_index(drop=True, inplace=True)

# Display the updated DataFrame to confirm the index reset
print(iris.head())  # Display the first few rows to check the change

   sepal_length (in cm)  sepal_width (in cm)  petal_length (in cm)  \
0                   5.0                  3.6                   1.4
1                   5.4                  3.9                   1.7
2                   4.6                  3.4                   1.4
3                   5.0                  3.4                   1.5
4                   4.4                  2.9                   1.4

   petal_width (in cm)
0                  0.2
1                  0.4
2                  0.3
3                  0.2
4                  0.2

### BONUS: Create your own question and answer it.